DATABASE_URL="postgresql://postgres:postgres@localhost:5432/zurys?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/zurys?schema=public"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="production"
